.environment-panel-container {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

.environment-panel-main {
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.panel-project-selection {
   border-right: indigo;
}

.panel-project-member {
   font-family: "Roboto", sans-serif;
}
