.issue-home-container {
   min-height: 100vh;
   height: 100%;
   overflow-x: hidden;
   background: #111;
}

.issue-statement-description-main {
   margin: 20px;
}

.solutions-read-section {
   margin: 50px;
}
