.notifications-container {
   position: absolute;
   top: 75px;
   right: 0px;
   min-width: 150px;
   min-height: 200px;
   word-break: break-all;
   background-color: rgb(58, 58, 58);
   color: white;
   z-index: 100;
   border: 2px solid black;
}
