.notifications-container {
   position: absolute;
   top: 75px;
   right: 0px;
   width: 300px;
   min-height: 200px;
   word-break: break-all;
   background-color: gray;
   border-radius: 10px;
   color: white;
   z-index: 100;
   border: 2px solid black;
}

.notification-block {
   background-color: rgb(15, 27, 27);
}

.notification-link {
   text-decoration: none;
}
