.org-side-nav-container {
   position: fixed;
   top: 80px;
   left: 0;
   bottom: 5px;
   min-width: 200px;
   margin: 20px 0px 0px 0px;
   overflow-x: hidden;
   overflow-y: hidden;
   display: flex;
   justify-content: flex-start;
   z-index: 3;
}

.sid-nav-tools {
   height: 100%;
   width: 50px;
   background-color: #111;
   border-right: 1px solid cyan;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.tool-icon {
   margin: 20px 0px;
   color: lightgreen;
   cursor: pointer;
}

.side-nav-content {
   border-right: 1px solid lightgreen;
   overflow-x: hidden;
   overflow-y: scroll;
   margin: 10px;
   background-color: rgb(8, 8, 8);
   min-width: 150px;
}

.side-nav-section {
   margin: 10px 10px;
}

.side-nav-header {
   text-align: left;
   font-size: 1.1rem;
   padding: 5px 0px;
}

.side-nav-header h3 {
   border-bottom: 1px solid lightseagreen;
   padding: 2px 0px;
}

.side-nav-section-list {
   border-left: 1px solid darkslateblue;
   padding-left: 5px;
}

.side-nav-section-member {
   background-color: darkslategrey;
   width: 100%;
}

.side-nav-list-btn {
   width: 100%;
   outline: none;
   border: none;
   background-color: transparent;
   color: white;
   padding: 5px 5px;
   font-size: 1.1rem;
   font-family: "Roboto", sans-serif;
   font-weight: 950;
   cursor: pointer;
}
