.environment-panel-container {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

.environment-panel-main {
   width: 100%;
   display: flex;
   justify-content: center;
   width: 100%;
}

.environment-workspace {
   margin: 20px;
   padding: 20px;
   min-height: 300px;
   font-family: "Quicksand", sans-serif;
   max-width: 100%;
   overflow-x: hidden;
   width: 70%;
}

.all-issues-division {
   width: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

.issue-header-link {
   color: black;
   text-decoration-color: black;
}
