.global-nav-container {
   width: 100%;
   height: 90px;
   margin-bottom: 15px;
   font-size: 1.2rem;
   font-family: "Poppins", sans-serif;
   border-bottom: 2px solid #333;
   background-color: #111;
   position: relative;
}

.general-nav-section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 15px;
}

.text-search {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.search-bar {
   width: 300px;
   font-size: 1.3rem;
   border: none;
   outline: none;
   background-color: rgb(49, 4, 71);
   color: white;
   padding: 5px;
}

.search-bar:focus {
   border: 1px solid burlywood;
}

.search-results-list {
   position: absolute;
   background-color: black;
   border: 1px solid gray;
   min-height: 100px;
   min-width: 100%;
   margin: 5px 0px;
}

.search-list-element {
   background-color: #111;
   margin: 5px;
   text-align: center;
   color: white;
   cursor: pointer;
}

.nav-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 15px;
}

.user-links-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 15px;
}

.user-links-section a {
   text-decoration: none;
   color: white;
   margin: 0px 10px;
   border-bottom: 2px solid cyan;
   cursor: pointer;
   font-weight: 700;
}

.notifications-section {
   position: relative;
}

.notification-icon {
   cursor: pointer;
}

.profile-section {
   /* display: flex;
   justify-content: space-between;
   align-items: center; */
   position: relative;
   margin: 0px 15px;
}

#userProfileImage {
   width: 50px;
   height: 50px;
   border: 1px solid gray;
   border-radius: 50%;
   cursor: pointer;
}

.user-drop-down {
   position: absolute;
   top: 90px;
   right: 10px;
}
