.nav-landing-container {
   overflow: hidden;
   border-bottom: 1px solid rgb(51, 0, 111);
}

.nav-landing {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #111;
}

.nav-left {
   margin: 10px;
   padding-left: 5px;
   font-family: "Quicksand", sans-serif;
   border-left: 2px solid rgb(51, 0, 111);
}

.nav-left a {
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 1.3rem;
}

.nav-right {
   margin: 10px;
}

.nav-right > ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-right > ul > li {
   list-style-type: none;
   margin-left: 20px;
}

#ladningNavBtn {
   padding: 5px 10px;
   background: rgb(51, 0, 111);
   color: white;
   border-radius: 2px;
   outline: none;
   border: none;
   cursor: pointer;
}
